/* General Colors*/
/* Header */ 
/* Texts */
/* Footer */
body {
  font-family: "Jost";
  padding: 0;
  margin: 0;
}

.content-limiter {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  padding: 15px 50px;
  background-color: rgb(6, 6, 6);
  color: #fff;
  text-decoration: none;
}

.button.transparent {
  background-color: transparent;
  color: #000;
}

/* Header */
.app-header {
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid rgb(234, 234, 234);
  background-color: #fff;
  position: fixed;
  z-index: 2;
  transition: 200ms;
}
.app-header.enable-sticky--header {
  transition: 500ms;
  top: 0;
  opacity: 1;
  visibility: visible;
}
.app-header.disable-sticky--header {
  transition: 500ms;
  top: -80px;
  opacity: 0;
  visibility: hidden;
}
.app-header .content-limiter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-width: 20%;
}
.header-logo img {
  max-width: 80%;
  height: auto;
}

.header-navigation {
  width: 70%;
}
.header-navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.header-navigation ul ul {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.header-navigation ul li {
  padding: 5px 10px;
  border-radius: 2px;
  position: relative;
  transition: 200ms;
  transition-delay: 100ms;
}
.header-navigation ul li:hover {
  transition: 200ms;
  background-color: rgb(243, 243, 243);
}
.header-navigation ul li:hover > ul {
  transition: 200ms;
  top: 48px;
  opacity: 1;
  visibility: visible;
}
.header-navigation ul li a {
  color: #333;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}
.header-navigation ul li ul {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  padding: 20px 0;
  z-index: 3;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
  transition-delay: 100ms;
}
.header-navigation ul li ul li a {
  width: 100%;
  display: block;
  padding: 2px 20px;
  margin: 0;
  box-sizing: border-box;
}
.header-navigation ul li ul li ul {
  left: 106%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
  transition-delay: 100ms;
}
.header-navigation ul li ul li:hover > ul {
  transition: 200ms;
  top: 0px;
  left: 100%;
  opacity: 1;
  visibility: visible;
}

.header-extras {
  display: flex;
  align-items: center;
}
.header-extras .header-extra-item {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-extras .header-extra-item .fa, .header-extras .header-extra-item > img {
  cursor: pointer;
}
.header-extras .header-extra-item .header-inbox-box {
  width: 400px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 3;
  box-sizing: border-box;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: 200ms all;
}
.header-extras .header-extra-item .header-inbox-box.active {
  opacity: 1;
  visibility: visible;
  top: 48px;
  transform: scale(1);
  transition: 200ms all;
}
.header-extras .header-extra-item .header-inbox-box .header-inbox-popup {
  width: 100%;
  padding: 2px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.header-extras .header-extra-item .header-inbox-box .header-inbox-popup a {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #1c3eff;
}
.header-extras .header-extra-item .header-inbox-box .header-inbox-popup a:hover {
  text-decoration: underline;
}
.header-extras .header-extra-item .header-inbox-box .single-message {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px;
}
.header-extras .header-extra-item .header-inbox-box .single-message:hover {
  background-color: #eee;
}
.header-extras .header-extra-item .header-inbox-box .single-message .inbox-sender-avatar {
  width: 70px;
  height: 70px;
  align-self: center;
}
.header-extras .header-extra-item .header-inbox-box .single-message .message-textcontent--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 20px;
}
.header-extras .header-extra-item .header-inbox-box .single-message .message-textcontent--header a {
  text-decoration: none;
}
.header-extras .header-extra-item .header-inbox-box .single-message .message-textcontent--header p, .header-extras .header-extra-item .header-inbox-box .single-message .message-textcontent--header h5 {
  margin: 2px 0;
  color: rgb(26, 26, 26);
}
.header-extras .header-extra-item .header-inbox-box .single-message .message-textcontent--header h5 {
  font-size: 1rem;
}
.header-extras .header-extra-item .header-inbox-box .single-message .message-textcontent--header p {
  font-size: 0.8rem;
}
.header-extras i.fa {
  padding: 8px;
  position: relative;
  color: #5c5c5c;
}
.header-extras .header-message-dot {
  width: 11px;
  height: 11px;
  display: block;
  background-color: rgb(21, 134, 255);
  box-shadow: 0 3px 7px rgba(21, 56, 255, 0.384);
  border-radius: 15px;
  position: absolute;
  top: 2px;
  right: 1px;
}

.header-extras .user-avatar--header {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.header-profile-box {
  width: 260px;
  position: absolute;
  top: 62px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  top: 50px;
  transform: scale(1);
  transform: scale(0.8);
  transition: 200ms all;
}
.header-profile-box.active {
  opacity: 1;
  visibility: visible;
  top: 52px;
  transform: scale(1);
  transition: 200ms all;
}
.header-profile-box .slot-top.profile-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-profile-box .profile-avatar--inner {
  width: 100px;
  height: auto;
  border-radius: 60px;
}
.header-profile-box .profile--fullname {
  font-size: 1.2rem;
  margin: 0 auto;
}
.header-profile-box .slot-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #eee;
}
.header-profile-box .slot-bottom ul {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
.header-profile-box .slot-bottom ul li {
  text-align: left;
}
.header-profile-box .slot-bottom ul li a {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 4px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: rgb(81, 81, 81);
  border-radius: 3px;
}
.header-profile-box .slot-bottom ul li a:hover {
  background-color: rgb(241, 241, 241);
}
.header-profile-box .slot-bottom i.fa {
  opacity: 0.8;
  margin-right: 4px;
}

.banner {
  width: 100%;
  min-height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: #141127;
}
.banner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url("http://lockthemes.com/ennex/wp-content/uploads/sites/13/2022/10/bgt-1.png");
  background-size: cover;
  background-position: center top;
  opacity: 0.2;
}
.banner .content-limiter {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.banner h2 {
  margin: 0;
  padding: 0;
  font-size: 3.8rem;
}
.banner .banner-description {
  font-size: 1.2em;
}
.banner .banner-search-form {
  display: flex;
}
.banner .banner-search-form > span.form-input-container {
  width: 50%;
  display: block;
  position: relative;
}
.banner .banner-search-form > span.form-input-container i {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.2rem;
  order: 1;
  color: rgb(205, 205, 205);
}
.banner .banner-search-form input {
  width: 90%;
  padding: 20px 30px 20px 50px;
  border: none;
  outline: 0;
  font-family: "jost";
  font-size: 1rem;
  position: relative;
  border: 1px solid #eee;
}
.banner .banner-search-form button {
  background-color: rgb(0, 231, 139);
  border: none;
  outline: 0;
  padding: 20px 40px;
  display: flex;
  font-size: 0.9rem;
  font-family: "jost";
  color: #fff;
}
.banner .banner-search-form button i {
  margin: 0 10px;
}
.banner .banner-stats {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.banner .banner-stats .stats-item {
  margin-right: 30px;
}
.banner .banner-stats .stats-item h1 {
  font-size: 2.4rem;
  margin: 0 0 5px 0;
}

.section-categories .content-limiter {
  padding: 90px 0;
}
.section-categories .content-limiter .section-heading {
  padding: 0;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
}
.section-categories .content-limiter .section-secondary-heading {
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #1c3eff;
}
.section-categories .content-limiter .section-description {
  font-size: 0.85rem;
  line-height: 22px;
  text-align: center;
}

.homepage-categories {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.homepage-categories .single-category {
  width: 23%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 300ms;
  background-color: rgb(248, 248, 248);
  border: 1px solid #eee;
}
.homepage-categories .single-category:hover {
  transition: 400ms;
  background-color: rgb(240, 240, 240);
}
.homepage-categories .single-category .job-category-title {
  font-size: 1.1rem;
  margin: 20px auto 5px auto;
  text-decoration: none;
  font-weight: 500;
  color: #1c1c1c;
}
.homepage-categories .single-category i {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.4rem;
  padding: 4px;
  color: #fff;
  background-color: #1c3eff;
}
.homepage-categories .single-category .jobs-in-category {
  font-size: 0.8rem;
}

.section-latest-jobs {
  background-color: rgb(246, 246, 249);
}
.section-latest-jobs .section-head {
  display: flex;
  justify-content: space-between;
}
.section-latest-jobs .section-head .slot-left,
.section-latest-jobs .section-head .slot-right {
  display: flex;
}
.section-latest-jobs .section-head .slot-left {
  flex-direction: column;
  align-items: flex-start;
}
.section-latest-jobs .section-head .slot-right .button.transparent {
  align-self: center;
}
.section-latest-jobs .content-limiter {
  padding: 90px 0;
}
.section-latest-jobs .section-heading {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  text-align: left;
}
.section-latest-jobs .section-secondary-heading {
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  text-align: left;
  color: #1c3eff;
}
.section-latest-jobs .section-description {
  font-size: 0.85rem;
  line-height: 22px;
  text-align: left;
}
.section-latest-jobs .homepage-latest-posts-container {
  margin-top: 50px;
}
.section-latest-jobs .single-job--recently-posted {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.section-latest-jobs .single-job--recently-posted:hover {
  transition: 200ms;
  border: 1px solid rgb(241, 241, 241);
}
.section-latest-jobs .single-job--recently-posted .slot-left {
  width: 80%;
  display: flex;
  align-items: center;
}
.section-latest-jobs .single-job--recently-posted .slot-left .company-logo {
  width: 60px;
  height: 60px;
}
.section-latest-jobs .single-job--recently-posted .slot-left .job-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.section-latest-jobs .single-job--recently-posted .slot-left .job-content .job-title {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(13, 13, 13);
}
.section-latest-jobs .single-job--recently-posted .slot-left .job--meta {
  display: flex;
  align-items: center;
}
.section-latest-jobs .single-job--recently-posted .slot-left .job--meta .meta-item {
  margin: 0 10px auto auto;
  text-align: left;
  text-decoration: none;
  font-size: 0.85rem;
  color: rgb(13, 13, 13);
}
.section-latest-jobs .single-job--recently-posted .slot-left .job--meta .meta-item i {
  width: 25px;
  height: 25px;
  font-size: 0.7rem;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(233, 233, 233);
}
.section-latest-jobs .single-job--recently-posted .slot-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-city-categories .section-head {
  display: flex;
  justify-content: space-between;
}
.section-city-categories .section-head .slot-left,
.section-city-categories .section-head .slot-right {
  display: flex;
}
.section-city-categories .section-head .slot-left {
  flex-direction: column;
  align-items: flex-start;
}
.section-city-categories .section-head .slot-right .button.transparent {
  align-self: center;
}
.section-city-categories .content-limiter {
  padding: 90px 0;
}
.section-city-categories .section-heading {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  text-align: left;
}
.section-city-categories .section-secondary-heading {
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  text-align: left;
  color: #1c3eff;
}
.section-city-categories .section-description {
  font-size: 0.85rem;
  line-height: 22px;
  text-align: left;
}
.section-city-categories .homepage-categories-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.section-city-categories .single-category--city {
  width: 23%;
  height: 250px;
  padding: 20px;
  box-sizing: border-box;
  background-color: red;
}

.app-section.section--join-us {
  width: 100%;
  height: auto;
  background-color: #1c3eff;
  position: relative;
  z-index: 1;
}
.app-section.section--join-us:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("http://lockthemes.com/ennex/wp-content/uploads/sites/13/2022/10/bgt-1.png");
  background-position: center center;
  opacity: 0.2;
}
.app-section.section--join-us .content-limiter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.app-section.section--join-us .content-limiter .inner-section-heading {
  margin: 10px auto;
  font-size: 3rem;
  color: #fff;
}
.app-section.section--join-us .content-limiter .inner-section-description {
  margin: 10px auto;
  font-size: 1rem;
  color: #fff;
}
.app-section.section--join-us .content-limiter .button {
  margin: 10px auto;
}

.swiper {
  width: 1200px;
  height: 100%;
}

.app-section.section-testimonials {
  padding: 90px 0;
}
.app-section.section-testimonials .swiper-wrapper {
  padding: 70px 0;
}
.app-section.section-testimonials .section-heading {
  padding: 0;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
}
.app-section.section-testimonials .section-secondary-heading {
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #1c3eff;
}
.app-section.section-testimonials .section-description {
  font-size: 0.85rem;
  line-height: 22px;
  text-align: center;
}
.app-section.section-testimonials .single-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;
  box-sizing: border-box;
  box-shadow: 0 5px 27px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  opacity: 0.4;
}
.app-section.section-testimonials .single-testimonial.swiper-slide-active {
  opacity: 1;
}
.app-section.section-testimonials .single-testimonial .short-content {
  color: rgb(45, 215, 161);
  margin: 0;
}
.app-section.section-testimonials .single-testimonial .content-self {
  font-size: 0.9rem;
  margin: 20px auto;
  line-height: 23px;
  color: rgb(51, 51, 51);
}
.app-section.section-testimonials .single-testimonial .testimonial-author-block {
  display: flex;
  align-items: center;
}
.app-section.section-testimonials .single-testimonial .testimonial-author-block img {
  align-self: center;
}
.app-section.section-testimonials .single-testimonial .testimonial-author-block .about-author-text {
  padding-left: 20px;
}
.app-section.section-testimonials .single-testimonial .testimonial-author-block .about-author-text h4 {
  color: rgb(59, 59, 59);
}
.app-section.section-testimonials .single-testimonial .testimonial-author-block .about-author-text p {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(89, 89, 89);
}
.app-section.section-testimonials h4, .app-section.section-testimonials p {
  margin: 0;
}
.app-section.section-testimonials .swiper-pagination {
  bottom: 10px;
}
.app-section.section-testimonials .swiper-pagination-bullet {
  padding: 2px;
  background-color: #1c3eff;
}
.app-section.section-testimonials .swiper-pagination-bullet-active {
  transition: 200ms;
  width: 15px;
  border-radius: 8px;
}

.app-footer {
  background-color: #0e0e0e;
}
.app-footer .content-limiter {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.app-footer .footer-widget {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-footer .footer-widget .widger-header {
  color: #fff;
}
.app-footer .footer-widget .footer--link {
  text-decoration: none;
  padding: 3px 0;
  color: #fff;
  opacity: 0.8;
}
.app-footer .footer-widget .footer--link:hover {
  transition: 200ms;
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
